.consent-section {
    margin: 20px;
}
.checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
    margin-top: 30px !important;
  }
  
  .mat-checkbox {
    margin-left:20px;
  } 
  
  .checkbox-vertival {
    flex-flow: column;
  }