@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}
